<!-- Step 6 -->
<h3>JSON data is loaded and ready!!</h3><br>
<p>{{#each bookdata}}
     {{this.ISBN}}
     {{this.title}}
     {{this.img}}
     {{this.author}}
     {{this.inventory}}
     {{this.category}}
    {{/each}}
</p>
