<!-- Step 6 -->
<table border="1">
    <tr><th>Image</th><th>Details</th></tr>
    <tr>
        <td><img src={{bookdata.img}} /></td>
        <td>
            <h3>ISBN: {{bookdata.ISBN}}</h3>        
            <h3>Title: {{bookdata.title}}</h3>
            <h3>Author: {{bookdata.author}}</h3>
            <h3>Inventory: {{bookdata.inventory}}</h3>
            <h3>Category: {{bookdata.category}}</h3>
        </td>
    </tr>
</table>

