<!-- Step 6 -->
<table border="1">
    <tr><th>Image</th><th>Details</th></tr>
    {{#each data}}
        <tr>
            <td><img src={{this.img}} width="100" height="100" /></td>
            <td>
                <h3>ISBN: {{this.ISBN}}</h3>        
                <h3>Title: {{this.title}}</h3>
                <h3>Author: {{this.author}}</h3>
                <h3>Inventory: {{this.inventory}}</h3>
                <h3>Category: {{this.category}}</h3>
            </td>
        </tr>
    {{/each}}
</table>

